<mat-toolbar id="top-bar">
  <mat-toolbar-row>
   
    <span id='gerencia'>Gerência</span>
    <span class="fill-space"></span>
      <span>
        
        <button mat-button type="submit" (click)="onDialog()" ><mat-icon inline='true'>add_circle</mat-icon> add cliente</button>
        <button mat-button type="submit"(click)="sair()"><mat-icon inline='true'>exit_to_app</mat-icon> Sair</button>
      </span>
      
  </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="true">
  <div class='container'>
   <div *ngFor="let cliente of Clientes">  
     <div id="clientes">
      <mat-toolbar id="client-bar">
         <mat-toolbar-row >
          <font color="white"> 
            {{cliente.name}}
            </font>
            <span class="fill-space"></span>
            <button id="edit-button"type='submit' mat-button (click)="deleteClient(cliente.id)"><mat-icon>delete_forever</mat-icon></button>
          
         </mat-toolbar-row>
      </mat-toolbar>
      
      <div id="detalhes-card">
        <img id='client-logo' src="https://github.com/nalexandriam/Angular-JumpStart/blob/master/src/assets/images/male.png?raw=true" height="42">
        <div id="detalhes-cliente" >
          <div id="item-detalhe">{{cliente.name}}</div>
          <div id="item-detalhe">{{cliente.sobrenome}}</div>
          <div id="item-detalhe">{{cliente.id}}</div>
          

        </div>
      </div>

     </div>
   </div>
  </div>
</div>