<mat-toolbar id="top-bar">
  <mat-toolbar-row>
   
    <span id='gerencia'>Gerência</span>
    <span class="fill-space"></span>
      <span>
        <input type="text" id="buscar" placeholder="Cliente" class="mat-form-field"  inline='true' *ngIf='!apagando' (keyup)="buscarCliente($event)">

        <button mat-button type="submit" (click)="CancelEditing()" *ngIf="apagando" ><mat-icon inline='true'>edit</mat-icon> Finalizar</button>
        <button mat-button type="submit" (click)="editar()" *ngIf="!apagando " ><mat-icon inline='true'>delete_forever</mat-icon> Deletar Clientes</button>
        <button mat-button type="submit" (click)="onDialog()" *ngIf="!apagando" ><mat-icon inline='true'>add_circle</mat-icon> add Cliente</button>
        <button mat-button type="submit"(click)="sair()" *ngIf="!apagando"><mat-icon inline='true'>exit_to_app</mat-icon> Sair</button>
      </span>
      
  </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="!buscando">
  <div class='container'>
   <div *ngFor="let cliente of Clientes; index as i">  
     <div id="clientes">
      <mat-toolbar id="client-bar">
         <mat-toolbar-row >
          <font color="white"> 
            {{cliente.name}}
            </font>
            <span class="fill-space"></span>
            <button *ngIf="!apagando" id="edit-button"type='submit' mat-button (click)="editClientDialog(cliente)"><mat-icon>edit</mat-icon></button>
            <button *ngIf="apagando" id="edit-button"type='submit' mat-button (click)="deleteClient(cliente.id)"><mat-icon>delete_forever</mat-icon></button>
          
         </mat-toolbar-row>
      </mat-toolbar>
      
      <div id="detalhes-card" >
        <img id='client-logo' src="https://github.com/nalexandriam/Angular-JumpStart/blob/master/src/assets/images/male.png?raw=true" height="42">
        <div id="detalhes-cliente">
          <div>{{cliente.name}} </div>
          <div>{{cliente.sobrenome}}</div>
          <div>{{cliente.telefone}} </div>
        </div>
      </div>
        <!--<div id="detalhes-cliente"  *ngIf="editando">
          <form [formGroup]="forms[i]">
          <div><input type="text" class="mat-form-field" placeholder="Nome" formControlName="name"></div>
          <div><input type="text" class="mat-form-field" placeholder="Sobrenome" formControlName="sobrenome"></div>
          <div><input type="text" class="mat-form-field" placeholder="Telefone" formControlName="telefone"></div>
          <div><button class="mat-raised-button mat-primary"(click)="saveEdit(form.value,cliente)">Save</button></div>
          </form>
        </div>-->
      

     </div>
   </div>
  </div>
  
</div>
<div *ngIf="buscando">
  <div class='container'>
   <div *ngFor="let cliente of resultados; index as i">  
     <div id="clientes">
      <mat-toolbar id="client-bar">
         <mat-toolbar-row >
          <font color="white"> 
            {{cliente.name}}
            </font>
            <span class="fill-space"></span>
            <button *ngIf="!apagando" id="edit-button"type='submit' mat-button (click)="editClientDialog(cliente)"><mat-icon>edit</mat-icon></button>
            <button *ngIf="apagando" id="edit-button"type='submit' mat-button (click)="deleteClient(cliente.id)"><mat-icon>delete_forever</mat-icon></button>
          
         </mat-toolbar-row>
      </mat-toolbar>
      
      <div id="detalhes-card" >
        <img id='client-logo' src="https://github.com/nalexandriam/Angular-JumpStart/blob/master/src/assets/images/male.png?raw=true" height="42">
        <div id="detalhes-cliente">
          <div>{{cliente.name}} </div>
          <div>{{cliente.sobrenome}}</div>
          <div>{{cliente.telefone}} </div>
        </div>
      </div>
     </div>
   </div>
  </div>
  
</div>
<!--<div *ngIf="maps">
  <div class="map-container">
    <agm-map [latitude]='latitude' [longitude]='longitude' 
      [mapTypeId]='mapType'>
    </agm-map>
  </div>

</div>-->